<%- include("./partials/header") %>

        <head>
            <style>
                @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,');
                body{
                    margin: 0;
                    padding: 0;
                    font-family: 'Poppins',sans-serif;
                    background: rgb(0, 0, 0);
                }
                .container{
                    width: 1200px;
                    margin: 20px auto;
                    columns: 3;
                    column-gap: 40px;
                }
                .container .box{
                    width: 100%;
                    margin: 0 0 20px;
                    padding: 10px;
                    color: #ffffff;
                    overflow: hidden;
                    break-inside: avoid;
                    
                }
                .container .box img{
                    max-width: 100%;
                }
                .container .box h2{
                    margin: 10px 0 0;
                    padding: 0;
                    font-size: 20px;
                    color: #000;
                }
                .container .box p{
                    margin: 0;
                    padding: 0 0 10px;
                    font-size: 16px;
                }
                @media(max-width: 1200px){
                    
                    .container{
                    columns: 3;
                    width: calc(100% - 40px);
                    box-sizing: border-box;
                    padding: 20px 20px 20px 0;
                }
                }
                @media(max-width: 768px){
                    
                    .container{
                    columns: 2;
                }
                }
                @media(max-width: 480px){
                    
                    .container{
                    columns: 1;
                }
                }
   .box {
  border: 5px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  background-color: rgb(255, 255, 255);
}

.box:hover {
  box-shadow: 5px 0 5px 5px #f44336;
}
h1{
    text-align: center;
    font-size: 50px;
    color:azure;
}



            </style>
        </head>
        <body>
            
         
       
    
  
        <h1>New images</h1>
<div class="container">
    <% Report.reverse().forEach(function(name){ %>
          <div class = "box">
            <img src=../<%= name.image %> class="img-fluid"> 
        <div class="overlay">
        <h2 style="text-align: center;"><%= name.name %></h2>
        </div>
        <a class="btn btn-outline-primary" href="/zeni/<%= name.author.id %>" role="button">More detail...</a>
        <h2 style="text-align: center;">report by <%= name.author.username %></h2>
 <a href="#"><img src="https://image.flaticon.com/icons/png/512/2965/2965630.png"  alt="Report" width="30px" class="Report">
</a>
</div>
          
           
      <% }); %>
  

 </div>  


       

        </body>
<%- include("./partials/footer") %>
