<%- include("./partials/header") %>
<!DOCTYPE html>
<html lang="en">
  
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

    <!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container">
      <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
        <i class="fa fa-remove"></i>
      </a>
      
      <form action="/profile" method="post" enctype="multipart/form-data">
        <input type="file" name="avatar" />


      <img src="../<%= currentUser.imname %> " style="width:45%;" class="w3-round"><br><br>
    </form>
      <h4><b><%= currentUser.username %></b></h4>

      
    </div>
    <div class="w3-bar-block">
      <a href="#portfolio" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>PORTFOLIO</a> 
      <a href="/upload/addphoto" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>ADD PHOTO</a> 
      <a href="/upload/profile" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>EditProfile</a>
    </div>
    
  </nav>
  
  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
  
  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:300px">



  
  
  <header id="portfolio">
    <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1><b>MY IMAGES</b></h1>
    <div class="w3-section w3-bottombar w3-padding-16">
      <!-- <span class="w3-margin-right">Filter:</span> 
      <button class="w3-button w3-black">ALL</button>
      <button class="w3-button w3-white"><i class="fa fa-diamond w3-margin-right"></i>Design</button>
      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-photo w3-margin-right"></i>Photos</button>
      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-map-pin w3-margin-right"></i>Art</button> -->
    </div>
    </div>
  </header>

  <!-- Photo Grid -->
  <div class = "container">
    <div class = "jumbotron" style="text-align: center;">
        <h2>Your post</h2>
        
    </div>

    <div class = "box" style="display:flex; flex-wrap:wrap;">
    <% Tarot.forEach(function(tarot){ %>
        <div class="col-md-3 col-sm-6">
          <% if(currentUser.username==tarot.username) {%>
            <div class="img-thumbnail"> 
              <% if(currentUser.username==tarot.username) {%>
                <img src=<%= tarot.image %> alt="Smiley face" height="120" width="120" class="img-fluid"> 
                <p style="text-align: center;"><%= tarot.name %></p>
                <a class="btn btn-outline-primary" href="/tarot/<%= tarot._id %>" role="button">More detail...</a>
                <!-- <p style="text-align: center;"><%= tarot.desc %></p> -->
               <%}}%>
            </div>
        </div>
    <% }); %>
</div>
</div>

  
    
   
  </div>
  
</body>
</html>


